<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.maxkrass.stundenplan"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

	<application
		android:name="com.orm.SugarApp"
		android:allowBackup="true"
		android:fullBackupContent="@xml/backupscheme"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<meta-data
			android:name="DATABASE"
			android:value="stundenplan.db"/>
		<meta-data
			android:name="VERSION"
			android:value="1"/>
		<meta-data
			android:name="QUERY_LOG"
			android:value="true"/>
		<meta-data
			android:name="DOMAIN_PACKAGE_NAME"
			android:value="com.maxkrass.stundenplan.objects"/>

		<activity
			android:name=".activities.MainActivity"
			android:theme="@style/AppTheme"
			android:launchMode="singleTop"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".activities.SettingsActivity"/>
		<activity android:name=".activities.ManageSubjectsActivity"/>
		<activity android:name=".activities.CreateSubjectActivity"/>
		<activity android:theme="@style/AppTheme.ManageTeacher" android:name=".activities.ManageTeacherActivity"/>
		<activity android:name=".activities.CreateTeacherActivity"/>
		<activity
			android:name=".activities.ViewTeacherActivity"
			android:theme="@style/AppTheme.ViewTeacher"/>
		<activity android:name=".activities.ViewSubjectActivity"/>
		<activity android:name=".activities.CreateLessonActivity"/>

		<service android:name=".services.NotificationService"/>
		<receiver android:name=".receiver.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
	</application>

</manifest>
